/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.navbar-left a {
  margin-right: 15px;
  color: white;
  text-decoration: none;
}

.navbar-left a:hover {
  text-decoration: underline;
}

.theme-toggle-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.theme-toggle-button:hover {
  background-color: #0056b3;
}

/* 右侧切换栏 */
.theme-sidebar {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #333;
  width: 200px;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.theme-sidebar.open {
  visibility: visible;
  opacity: 1;
  transform: translateY(-50%) translateX(0);
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}
