/* 通用主题样式 */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* 浅色主题 */
.theme-light {
  background-color: #fff;
  color: #000;
}

/* 深色主题 */
.theme-dark {
  background-color: #333;
  color: #fff;
}

/* 春季主题 */
.theme-spring {
  background-color: #FFEB3B;
  color: #3E4E50;
}

/* 夏季主题 */
.theme-summer {
  background-color: #FF5722;
  color: #fff;
}

/* 秋季主题 */
.theme-autumn {
  background-color: #FF9800;
  color: #fff;
}

/* 冬季主题 */
.theme-winter {
  background-color: #2196F3;
  color: #fff;
}

/* 噩梦主题 */
.theme-nightmare {
  background-color: #000;
  color: #ff0000;
}

/* 右侧切换栏样式 */
.theme-sidebar {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #333;
  width: 200px;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.theme-sidebar.open {
  visibility: visible;
  opacity: 1;
  transform: translateY(-50%) translateX(0);
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}
